<html>
    <head>
        <title>Егорик</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Моя первая работа</a></h1>
        </div>

        <div>
            <p>published: 22.05.2026, 15:11</p>
            <h2><a href="">My first post</a></h2>
            <p>Хакуна-Матата.</p>
        </div>

        <div>
            <p>published: 22.05.2026, 15:11</p>
            <h2><a href="">https://ss64.com/ps/</a></h2>
            <p>Хакуна-Матата.</p>
        </div>
    </body>
</html>